/*基本格式开始*********************/
*{
	padding: 0;
	margin:0;
}
/*基本格式结束*********************/

/*公共格式 开始********************/
body{
	font-family: "幼圆";
	font-size:18px;
	background-image: url(img/bian.png);
	background-repeat:repeat-y;
	background-size:12%;
    background-position:-7% -7%;
    background-color: pink;
}
/*=========================下划线，不要用内联css*/
span.line_through{
	text-decoration: line-through;
}
/*==================清除元素后面元素的左右浮动*/
.sidebar:after ,.skill:after {
	content: "";
	font-size: 0;
	line-height: 0;
	display: block;
	visibility: hidden;
	clear: both;
}
/*==============================图片垂直居中*/
span.hook{
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	font-size: 0;
	width: 0;
	height: 100%;
	line-height:0;
}
.img_hook{
	vertical-align:middle;
}
/*公共格式 结束********************/

/*头部开始******************/
.sidebar ul{
	list-style: none;
	margin-right: 10px;
	margin-top: 5px;
	float: right;
}
.sidebar ul li{
	display: inline-block;
	list-style: none;
	float: left;
	text-align: center;
	border-right: 1px solid white;
}
/*=========清除最后的右border*/
.sidebar ul li.last{
	border-right: 0 none;
}
.sidebar ul li a{
	display: inline-block;
	background: black;
	color: white;
	text-decoration: none;
	width: 60px;
	margin: 0;
	padding: 0;
}
#head h1{
	text-align: center;
	/*text-align: left;*/
	/*width: 61.8%;*/
	/*margin:0 auto;*/
}
/*头部结束******************/

/*main start************************/
#main{
	width: 61.8%;
	margin:20px auto;
	background: #dedede;
}
#main h2 {
	text-align: right;
	font-size: 50px;
	font-family: "Impact";
	width: 61.8%;
	margin:0 auto;
	border-bottom: 3px solid black;
	padding:10px 5px 20px 0;
}
#main .content{
	width: 61.8%;
	margin: 0 auto 0px;
	padding: 100px 0 100px;
}
#main .skill{
	text-align: center;
	padding-top: 30px;
}
/*=================2个浮动元素才可以并排，记得清除之后元素的浮动*/
#main .print{
	float: left;
	width: 45%;
}
#main .font_end{
	float: right;
	width: 45%;
}
#main .print h3 ,#main .font_end h3{
	height: 70px;
}
#main .like{
	width: 61.8%;
	margin: 0 auto;
}
#main .like h3{
	/*float: right;*/
	text-align: center;
}
#main .like img{
	margin: 0px  5%;
}
#main .blog{
	padding-top:30px;
}
#main .blog h3{
	font-size: 4.3em;
	font-family: "Impact";
	border-bottom: 2px solid black;
	padding-bottom: 30px;
}
#main .blog h4{
	font-size: 30px;
	font-weight: normal;
	padding: 20px 0 20px 0px;
}
#main .blog time{
	display: inline-block;
	padding:0 0 10px 0px;
}
#main .blog p{
	margin-bottom: 1em;
	text-indent: 2em;
}
#main .addition{
	border-top: 2px solid black;
}
/*==================所谓的文字环绕就是一个floa*/
#main .addition .img_float{
	float: left;
	margin-right: 30px;
}
/*main end************************/

/*foot start***************************/
#foot{
	width: 61.8%;
	margin: 0 auto;
	text-align: center;
}
/*foot end***************************/




